body {
  background-color: rgb(235, 243, 250);
  color: #000000;
}

h1 {
  font-family: "Boldonse", system-ui;
  font-size: 38px;
}

h2 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 5px;
}

a {
  color: #e055b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: block;
  margin: 60px auto;
  padding: 30px;
  width: 600px;
  max-width: 85%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 1;
}

.emoji {
  font-size: 40px;
  margin-top: 24px;
}

.cities {
  display: block;
  margin: 25px auto;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.city:last-of-type {
  border: none;
}

.date {
  color: #757575;
  font-size: 14px;
}

.time {
  display: flex;
  font-size: 38px;
  font-weight: 700;
}

footer {
  text-align: center;
  font-size: 12px;
}
